* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 9, 55);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}
h1 {
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

select {
    padding: 12px;            
    font-size: 18px;          
    width: 100%;             
    max-width: 300px;          
    border-radius: 5px;        
    border: 1px solid #ccc;   
    margin: 20px auto;        
    display: block;            
}

.legend-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
}

/* Color definitions */
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}

.clock-container {
    margin-top: 20px;
    text-align: center;
}
#clockDisplay {
    font-size: 24px;
    font-weight: bold;
}
